/*身体*/
body {
  margin: 0;
  display: flex;
  background-image: url(https://api.kdcc.cn/img/);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 微软雅黑;
  flex-direction: column;
}

/*页面主体*/
main {
  display: flex;
  background-color: #00000096;
  padding: 10px;
  flex-direction: column;
  padding-bottom: 60px;
  align-items: center;
}

/*超链接*/
a {
  text-decoration: none;
}

/*输入框*/
input {
  width: 500px;
  border: none;
  border-radius: 5px;
  height: 40px;
  background-color: #ffffff;
  padding-left: 35px;
  padding-right: 35px;
  font-size: 16px;
  box-shadow: #0000001f 0px 4px 20px;
  transition: 0.2s ease-in-out;
}

input:focus {
  width: 550px;
  outline: none;
  transition: 0.2s ease-in-out;
}

/*按钮*/
button {
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

/*顶部导航条の链接（下面的导航分类也在用）*/
.bar_top_links {
  color: #ffffffdd;
  display: flex;
  text-decoration: none;
  transition-duration: 0.2s;
  height: 35px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  background: transparent;
  align-items: center;
  /*为了让手机端点击不出现蓝色高光*/
  -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
}

.bar_top_links:hover {
  transition: 0.2s ease-in-out;
  background-color: #ffffff37;
}

/*导航分类区*/
nav_select {
  display: flex;
  flex-direction: row;
  height: auto;
  width: 650px;
  flex-wrap: wrap;
  margin-bottom: 8px;
  justify-content: center;
}

/*导航主区*/
nav {
  display: flex;
  flex-direction: column;
  width: 800px;
  background-color: #1e1e1e;
  border-radius: 5px;
  padding: 10px;
  box-shadow: #0000001f 0px 4px 20px;
  min-height: 500px;
}

/*导航の链接部分*/
nav_links {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  /*为了让手机端点击不出现蓝色高光*/
  -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
}

/*导航的一个类*/
choice {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  flex-direction: row;
}

/*导航卡片*/
nav_link {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #ffffff26;
  color: #ffffffdd;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  transition: 0.2s ease-in-out;
  width: 285px;
  height: 60px;
}

nav_link:hover {
  background-color: #ffffff44;
}

/*导航卡片标题*/
nav_link_title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

/*导航卡片下半部分*/
nav_link_right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/*导航卡片图标*/
.icon {
  height: 40px;
  width: 40px;
  border-radius: 5px;
  margin-right: 10px;
}

/*导航卡片介绍*/
nav_link_description {
  font-size: 13px;
  color: #ffffff92;
}

/*纯文字板块*/
.common {
  margin: 30px;
}

/*纯文字板块の标题*/
.common_title {
  font-weight: bold;
  font-size: 25px;
  color: #ffffffdd;
  padding-bottom: 8px;
  border-bottom: 4px solid #ffffffdd;
}

/*纯文字板块の二级标题*/
.common_title_2 {
  font-weight: bold;
  font-size: 21px;
  color: #ffffffdd;
  margin-bottom: 8px;
}

/*纯文字板块の主体*/
.common_text {
  margin-top: 10px;
  font-size: 16px;
  color: #ffffffdd;
  line-height: 1.4;
  letter-spacing: 0.8px;
}

/*“关于本站”页面の按钮*/
.about_button {
  display: flex;
  align-items: center;
  background: transparent;
  border: 1.5px solid #ffffffdd;
  outline: none;
  color: #ffffffdd;
  border-radius: 5px;
  font-size: 16px;
  padding: 10px;
  transition-duration: 0.2s;
  cursor: pointer;
  margin-right: 10px;
  width: auto;
}

.about_button:hover {
  background-color: #ffffff24;
  transition-duration: 0.2s;
}

/*更新日志の一个版本*/
version {
  display: flex;
  flex-direction: column;
  margin: 20px;
  border-radius: 5px;
  background-color: #ffffff26;
  padding: 20px;
}

/*移动端适配*/
@media (max-width: 600px) {
  input {
    width: 100%;
  }
  input:focus {
    width: 100%;
  }
  nav {
    width: 90%;
  }
  nav_select {
    width: 90%;
  }
  .bar_top_links:hover {
    background-color: #ffffff26;
  }
  nav_link:hover {
    background-color: #ffffff26;
  }
  .about_button:hover {
    background-color: #ffffff26;
  }
}

/*
nav_link_title_1 {
  font-weight: bold;
  margin-left: -8px;
  color: #cfcfd3;
}

nav_link_title_2 {
  font-weight: bold;
  margin-left: -8px;
  color: #f7fbbb;
}

nav_link_title_3 {
  font-weight: bold;
  margin-left: -8px;
  color: #f2bed7;
}

nav_link_title_4 {
  font-weight: bold;
  margin-left: -8px;
  color: #d5abe2;
}

nav_link_title_5 {
  font-weight: bold;
  margin-left: -8px;
  color: #a3defb;
}

nav_link_title_6 {
  font-weight: bold;
  margin-left: -8px;
  color: #f0c480;
}
*/